.about-me {
    background-color: #171717;
}

.about-me-title {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.aboutme-right img {
    width: 100%;
    border: 3px solid #89CFF0;
    margin-bottom: 2rem;
}
.about-me-content {
    flex-direction: row;
}

.aboutme-left {
    line-height: 2.5;
    width: 40%;
}

.aboutme-right {
   width: 40%;
}

.aboutme-left p {
    margin: 1rem 0;
}

h2 {
    margin-bottom: 2rem;
}
li {
    list-style-type: none;
}

li i {
    margin-right: 1rem;
}

@media screen and (max-width: 600px) {
    .about-me {
        height: auto;
    }
    .about-me-title {
        text-align: center;
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
    .about-me-content {
        flex-direction: column;
    }
    .aboutme-left {
        width: 90%;
        margin: auto;
    } 
    h2 {
        font-size: 1.23rem;
        margin-bottom: 0;
    }
    .aboutme-right {
        width: 90%;
        margin: auto;
    }
    .aboutme-right ul {
        font-size: 0.85rem;
    }
}