.about-me {
    background-color: #171717;
}

.about-me-title {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.aboutme-right img {
    width: 100%;
    border: 3px solid #89CFF0;
    margin-bottom: 2rem;
}

.aboutme-left {
    line-height: 2.5;
    width: 40%;
}

.aboutme-right {
   width: 40%;
}

.aboutme-left p {
    margin: 1rem 0;
}

h2 {
    margin-bottom: 2rem;
}


li {
    list-style-type: none;
}

li i {
    margin-right: 1rem;
}

@media screen and (max-width: 600px) {
}