.contact {
    height: 100vh;
}
.contact b {
    color: #EEAACC;
}

.contact-title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

input, textarea, button {
    font-family: 'Libre Baskerville', serif;
    min-height: 5rem;
    width: 30rem;
    margin: .5rem 0;
    background: none;
    border: none;
    color: #89CFF0;
    font-size: 2rem;
}

button {
    border-radius: 5px;
}

fieldset {
    padding: 1rem;
    border: 2px solid #89CFF0 ;
    border-radius: 5px;
}

.message-field {
    word-wrap: break-word;
    padding-top: 1rem;
}

button:hover {
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    input, textarea, button {
        width: 90vw;
    }
}