.contact {
}
.contact b {
    color: #EEAACC;
}

.contact-title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

input, button {
    height: 5rem;
    width: 30rem;
    margin: .5rem 0;
    background-color: none;
}