.projects {
    background-color: #171717;
}

.projects-title {
    font-size: 3rem;
    margin-bottom: 2rem;
}
.projects-title p {
    text-align: center;
}

.projects-row img {
    width: 30%;
    margin-bottom: 3rem;
}

.projects-info {
    width: 40%;
    text-align: center;
    margin: auto;
}