.projects {
    background-color: blue;
}

.projects-title {
    font-size: 3rem;
    margin-bottom: 2rem;
}
.projects-title p {
    text-align: center;
}

.projects-first-row img {
    width: 30%;
    margin-bottom: 3rem;
}
.projects-second-row img {
    width: 30%;
}
