.projects {
    background-color: rgb(66, 66, 66);
}

.projects-title {
    font-size: 3rem;
    margin-bottom: 2rem;
}
.projects-title p {
    text-align: center;
}

.projects-row img {
    width: 30%;
    margin-bottom: 3rem;
}

.projects-info {
    width: 40%;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .projects-title {
        font-size: 2rem;
        text-align: center;    
    }
    .projects-row {
        flex-direction: column;
        align-items: center;
    }
    .projects-row img {
        width: 90%;
        margin-bottom: 1rem;
    }
    .projects-info {
        width: 90%;
    }
}