/*ANIMATION CLASSES*/
.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}


/*REUSABLE CLASSES*/
.flex {display: flex;}
.justify-center {justify-content: center;}
.space-evenly {justify-content: space-evenly;}
.space-between {justify-content: space-between;}
.space-around {justify-content: space-around;}
.align-center {align-items: center;}
.center {justify-content: center; align-items: center;}
.row {flex-direction: row;}
.column {flex-direction: column;}
.pad-5 {padding: 5rem;}
.pink {color: #EEAACC;}

@media screen and (max-width: 1300px) {
    .pad-5 {
        padding: 4rem;
    }
}

@media screen and (max-width: 1000px) {
    .pad-5 {
        padding: 3rem;
    }
}
   
@media screen and (max-width: 600px) {
    .pad-5 {
        padding: 1rem;
    }
}