.skillsets {
    font-family: 'Inter', sans-serif;
}

.skillsets {
    background-color: #171717;
}

.skillsets-title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.skillsets-left-side {
    width: 50%;
    font-size: 2rem;
}

.skillsets-right-side {
    width: 45%;
}

label {
    margin: .8rem 0;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3rem;
}

.skillsets-filler-content {
    width: 70%;
    margin: auto;
    margin-top: 5rem;
    font-size: 1.8rem;
}