/* FORMATTING FOR THE SKILL SETS PAGE. */
.skillsets {
    font-family: 'Inter', sans-serif;
    background-color: #171717;
}

.skillsets-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.skillsets-left-side {
    width: 50%;
    font-size: 2rem;
}

.skillsets-right-side {
    width: 45%;
}

label {
    margin: .8rem 0;
}
/* THE *-APPEARANCE DECLARATION ALLOWS ME TO CHANGE THE <progress> ELEMENT. */
progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3rem;
    width: 100%;
    color: #89CFF0;
}

progress::-moz-progress-bar { 
    background: #89CFF0;
}

progress::-webkit-progress-value { 
    background: #89CFF0; 
}

.skillsets-filler-content {
    width: 70%;
    margin: auto;
    margin-top: 5rem;
    font-size: 1.8rem;
}

/* GENERAL STYLING TO MAKE SURE THAT THE TEXT IS REASONABLE SIZE COMPARED TO THE SCREEN. */
@media screen and (max-width: 900px) {
    .skillsets-left-side {
        font-size: 1.6rem;
    }
    .skillsets-filler-content {
        width: 80vw;
        font-size: 1.5rem;
    }
}


/* MQ FOR PHONES AND TINY SCREENS. */
@media screen and (max-width: 600px) {
    .skillsets-title {
        font-size: 2rem;
    }
    .skillsets-main-content {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .skillsets-right-side {
        width: 90%;
        margin-bottom: 2rem;
    }
    .skillsets-left-side {
        width: 90%;
        font-size: 1rem;
    }
    .skillsets-filler-content p {
        display: none;
    }
}
