*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: 'Libre Baskerville', serif;
    line-height: 1.6;
    width: 70vw;
    margin: auto;
    background-color: black;
    background-image: url("../resources/space-background-image.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color: #89CFF0;

}
.front-page {
    width: 70vw;
    height: 100vh;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 3rem;
} 

.profile-picture  {
    border-radius: 50%;
    width: 70%;
}

.link-icons {
    margin-top: 2rem;
}

.link-icons a {
    color: #89CFF0;
}

.front-page-buttons {
    margin-top: 8rem;
}

.front-page-buttons a {
    font-size: 2rem;
    color: #89CFF0;
    text-decoration: none;
    border: #89CFF0 solid 4px;
    border-radius: 15px;
    padding: .5rem 1rem;
}



