*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    width: 100%;
    overflow-x: hidden;
}
/* GENERAL STYLING FOR THE BACKGROUND AND BODY. */
body {
    font-family: 'Libre Baskerville', serif;
    line-height: 1.6;
    word-wrap: break-word;
    width: 70vw;
    margin: auto;
    background-color: black;
    background-image: url("../resources/space-background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #89CFF0;

}
/* STYLING FOR THE FIRST PAGE THE VISITOR SEES. */
.front-page {
    height: 100vh;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 3rem;
} 

.profile-pic-div {
    flex-grow: 0;
}

.profile-picture  {
    border-radius: 50%;
    max-width: 70%;
}

.link-icons {
    margin-top: 2rem;
}

.link-icons a {
    color: #89CFF0;
}

.front-page-buttons {
    margin-top: 8rem;
}
/* GIVE THE A-LINKS ON THE FRONT PAGE THAT BUTTON LOOK. */
.front-page-buttons a {
    font-size:2rem;
    color: #89CFF0;
    text-decoration: none;
    border: #89CFF0 solid 4px;
    border-radius: 15px;
    padding: .5rem 1rem;
}

.front-page-buttons a:hover {
    cursor: pointer;
}

footer {
    width: 50%;
    margin: auto;
    border-top: 2px solid #89CFF0;
    padding: 1rem 0;
}

.footer-content a {
    color: #89CFF0;
}

.back-to-top {
    position: fixed;
    bottom: 1%;
    right: 5%;
    border: 6px solid #89CFF0;
    border-radius: 25px;
    padding: .5rem 2rem;
}
/* FORMATTING FOR THE ARROW TO GO BACK UP. */
.back-to-top a {
    font-size: 2rem;
    color: #89CFF0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
/* GIVE THE BODY MORE SPACE ON THE SCREEN AS IT'S GETTING SMALLER. */
@media screen and (max-width: 1800px) {
    body {
        width: 80vw;
    }
    .hello-text p {
        font-size: 2rem;
    }
    .front-page-buttons a {
        font-size: 1.5rem;
        border: #89CFF0 solid 3px;
    }
    .back-to-top {
        right: 4%;
        border: 4px solid #89CFF0;
    }
} 

@media screen and (max-width: 1500px) {
    .front-page-buttons a {
        font-size: 1rem;
        border: #89CFF0 solid 2px;

    }
}

/* MQ TO MAKE SURE THAT ELEMENTS ACT AS THEY 
SHOULD AS THE SCREENS SIZE IS GETTING SMALLER */
@media screen and (max-width: 1300px) {
    body {
        width: 100vw;
    }
    .hello-text {
        font-size: 2rem;
    }
    .hello-text p {
        margin-bottom: 1rem;
    }
    .front-page {
        height: auto;
    }
    .front-page-top {
        flex-direction: column;
        text-align: center;
    }
    .front-page-buttons {
        flex-direction: column;
        width: 50%;
        margin: auto;
        margin-top: 0;
    }
    .front-page-buttons a {
        margin-bottom: 1rem;
    }
    .profile-picture {
        width: 50%;
    }
    .back-to-top {
        bottom: 0;
        right: 0;
        border: 4px solid #89CFF0;
        padding: .5rem 1.5rem;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
}
/* HIDES THE BUTTON TO SCROLL TO THE TOP BECAUSE AT THIS POINT
THE USER IS MOST LIKELY ON A TABLET OR PHONE AND WILL THEREFOR BE ABLE
TO JUST TAP THE TOP OF THE SCREEN TO GO TO THE TOP */
@media screen and (max-width: 700px) {
    .back-to-top {
        display: none;
    }
}
/* MQ FOR PHONES AND TINY SCREENS */
@media screen and (max-width: 600px) {
    footer {
        width: 90%;
    }
    .footer-content {
        width: 90%;
        margin: auto;
        margin-top: 1rem;
    }
}